In [1]:
import sklearn.datasets as ds
import pandas as pd

In [ ]:
everything=ds.load_linnerud()

In [9]:
#build DataFrame objects with contents of the data set
eser=pd.DataFrame(everything['data'], columns=everything['feature_names'])
eser.head()

   Chins  Situps  Jumps
0    5.0   162.0   60.0
1    2.0   110.0   60.0
2   12.0   101.0  101.0
3   12.0   105.0   37.0
4   13.0   155.0   58.0

In [10]:
pser=pd.DataFrame(everything['target'], columns=everything['target_names'])
pser.head()

   Weight  Waist  Pulse
0   191.0   36.0   50.0
1   189.0   37.0   52.0
2   193.0   38.0   58.0
3   162.0   35.0   62.0
4   189.0   35.0   46.0

In [11]:
#combine the two series a column at a time  
eser['Weight']  = pser['Weight']
eser['Waist']   = pser['Waist']
eser['Pulse']  = pser['Pulse']
eser.head()

   Chins  Situps  Jumps  Weight  Waist  Pulse
0    5.0   162.0   60.0   191.0   36.0   50.0
1    2.0   110.0   60.0   189.0   37.0   52.0
2   12.0   101.0  101.0   193.0   38.0   58.0
3   12.0   105.0   37.0   162.0   35.0   62.0
4   13.0   155.0   58.0   189.0   35.0   46.0

In [16]:
eser['x'] =1
eser

    Chins  Situps  Jumps  Weight  Waist  Pulse  x
0     5.0   162.0   60.0   191.0   36.0   50.0  1
1     2.0   110.0   60.0   189.0   37.0   52.0  1
2    12.0   101.0  101.0   193.0   38.0   58.0  1
3    12.0   105.0   37.0   162.0   35.0   62.0  1
4    13.0   155.0   58.0   189.0   35.0   46.0  1
5     4.0   101.0   42.0   182.0   36.0   56.0  1
6     8.0   101.0   38.0   211.0   38.0   56.0  1
7     6.0   125.0   40.0   167.0   34.0   60.0  1
8    15.0   200.0   40.0   176.0   31.0   74.0  1
9    17.0   251.0  250.0   154.0   33.0   56.0  1
10   17.0   120.0   38.0   169.0   34.0   50.0  1
11   13.0   210.0  115.0   166.0   33.0   52.0  1
12   14.0   215.0  105.0   154.0   34.0   64.0  1
13    1.0    50.0   50.0   247.0   46.0   50.0  1
14    6.0    70.0   31.0   193.0   36.0   46.0  1
15   12.0   210.0  120.0   202.0   37.0   62.0  1
16    4.0    60.0   25.0   176.0   37.0   54.0  1
17   11.0   230.0   80.0   157.0   32.0   52.0  1
18   15.0   225.0   73.0   156.0   33.0   54.0  1
19    2.0   110.0   43.0   138.0   33.0   68.0  1

In [17]:
#create an "exercise index"
eser['Index' = eser['Chins'] * 3 + 
               eser["Situps"] * 2 + 
               eser["Jumps"])
eser.head()

SyntaxError: invalid syntax (<ipython-input-17-bb4d5105cc1c>, line 2)

In [ ]:
#convert the Weight to kilos (2.2 lb = 1 kg)
eser['Weight']=eser['Weight']/2.2

#convert Waist to centimeters (1 in = 2.54 cm)
eser['Waist']=eser['Waist']*2.54

In [13]:
eser.head()

   Chins  Situps  Jumps  Weight  Waist  Pulse
0    5.0   162.0   60.0   191.0   36.0   50.0
1    2.0   110.0   60.0   189.0   37.0   52.0
2   12.0   101.0  101.0   193.0   38.0   58.0
3   12.0   105.0   37.0   162.0   35.0   62.0
4   13.0   155.0   58.0   189.0   35.0   46.0

In [ ]:
#create an "exercise index"
eser.assign(eindex=eser['Chins'] * 3 + 
                   eser["Situps"] * 2 + 
                   eser["Jumps"])
eser.head()